<div id="<%= dom_id training %>">
  <p>
    <strong>Name:</strong>
    <%= training.name %>
  </p>

  <p>
    <strong>Single:</strong>
    <%= training.single %>
  </p>

  <p>
    <strong>Reps:</strong>
    <%= training.reps %>
  </p>

  <p>
    <strong>Durantion minutes:</strong>
    <%= training.durantion_minutes %>
  </p>

</div>
