<h1>Treinos</h1>

<div class="accordion" id="accordionExample">

  <div class="accordion-item">
  
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Filtros
      </button>
    </h2>
  
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
     
        <div class="card-body">
          <%= search_form_for @q, remote: true do |f| %>
            <table>

                <tr>

                  <td>
                    <div class="filter-field">
                      <%= f.label :name_cont, 'Nome' , class: "col-md-6 col-form-label text-md-right" %>
                      <%= f.search_field :name_cont, class: "form-control" %>
                    </div>
                  </td>
             
                </tr>

              <tr>
                <td colspan="2">
                  <%= f.submit 'Filtrar' , class: 'btn btn-primary' %>
                    <%= link_to 'Limpar Filtros' , trainings_path, method: :get, class: 'btn btn-secondary' ,
                      style: 'margin-left: 10px;' %>
                </td>
              </tr>
        
            </table>
            <% end %>
        </div>

      </div>
    </div>
  
  </div>

</div>

</br>

<%= link_to "Novo", new_training_path, class: 'btn btn-success' %>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">Individual?</th>
      <th scope="col">Duração (minutos)</th>
      <th scope="col">Editar</th>
      <th scope="col">Remover</th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
    <tr>
      <td><%= training.name %></td>
      <td><%= training.single %></td>
      <td><%= training.durantion_minutes %></td>
      <td><%= button_to 'Editar', edit_training_path(training), method: 'get', class: 'btn btn-primary' %></td>
      <td><%= button_to 'Remover', training_path(training), method: 'delete', data: {turbo_confirm: "Deseja mesmo deletar esse registro?"} , class: 'btn btn-danger ' %></td>
    </tr>
    <% end %>
  </tbody>


</table>

<%== pagy_bootstrap_nav(@pagy) %>