<p style="color: green"><%= notice %></p>

<%= render @training %>

<div>
  <%= link_to "Editar", edit_training_path(@training) %> |
  <%= link_to "Voltar", trainings_path %>

  <%= button_to "Deletar", @training, method: :delete, class: "btn btn-danger" %>
</div>
