<h2>Editar Usuário </h2>

<div class="card-body">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: "form-card" , html: { method:
    :put }) do |f| %>
    <%= render "devise/shared/error_messages" , resource: resource %>

      <div class="form-group row">
        <div class="col-md-4">
          <%= f.label :name , "Nome" , class: "col-md-6 col-form-label text-md-right" %>
            <%= f.text_field :name, autofocus: true, autocomplete: "name" , class: "form-control" %>
        </div>
      </div>


      <div class="form-group row">
        <div class="col-md-4">
          <%= f.label :email, "Email" , class: "col-md-6 col-form-label text-md-right" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Atualmente aguardando confirmação para: <%= resource.unconfirmed_email %>
        </div>
        <% end %>

          <div class="form-group row">
            <%= f.label :password, "Senha (deixe em branco se não quiser alterar) " %>
              <div class="col-md-4">
                <%= f.password_field :password, autocomplete: "new-password" , class: "form-control" %>

                  <%= f.label :password_confirmation, "Confirme sua Senha" ,
                    class: "col-md-6 col-form-label text-md-right" %><br />
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control" %>
                      <% if @minimum_password_length %>
                        <em>
                          <%= @minimum_password_length %> mínimo de caracteres
                        </em>
                        <% end %>
              </div>
          </div>

          </br>

          <div class="form-group row">
            <%= f.label :current_password, "Senha atual (precisamos da sua senha atual para confirmar suas alterações)"
              %>
              <div class="col-md-4">
                <%= f.password_field :current_password, autocomplete: "current-password" , class: "form-control" %>
              </div>
          </div>

          </br>

          <div class="actions">
            <%= f.submit "Editar" , class: "btn btn-primary" %>
          </div>
          <% end %>
</div>
</br></br>
<h3>Cancelar minha conta</h3>

<div>
  <%= button_to "Cancelar" , registration_path(resource_name), data: { confirm: "Tem certeza?" ,
    turbo_confirm: "Tem certeza?" }, method: :delete, class: "btn btn-danger" %>
</div>
</br></br>
<%= link_to "Voltar" , :back %>
  </div>