<div id="<%= dom_id instructor %>">
  <p>
    <strong>Name:</strong>
    <%= instructor.name %>
  </p>

  <p>
    <strong>Birth:</strong>
    <%= instructor.birth %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= instructor.email %>
  </p>

  <p>
    <strong>Document:</strong>
    <%= instructor.document %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= instructor.phone %>
  </p>

  <p>
    <strong>Specialities:</strong>
    <%= instructor.specialities %>
  </p>

  <p>
    <strong>User:</strong>
    <%= instructor.user_id   %>
  </p>

</div>
