<p style="color: green"><%= notice %></p>

<%= render @instructor %>

<div>
  <%= link_to "Editar Instrutor", edit_instructor_path(@instructor) %> |
  <%= link_to "Voltar", instructors_path %>

  <%= button_to "Deletar", @instructor, method: :delete, class: "btn btn-danger" %>
</div>
