<h1>LaunchGym - Gerenciamento de academias.</h1>

</br>

<div class="container mt-5">
  <div class="row text-center">
    <div class="col-md-3">
      <div class="card">
        <div class="custom-image-container">
          <%= image_tag 'turma.png', class: 'img-fluid' %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Turma</h5>
          <p class="card-text"><%= ClassSession.count %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="custom-image-container">
          <%= image_tag 'aluno.png', class: 'img-fluid' %>
        </div>
        <div class="card-body">
          <h5 class="card-title">Aluno</h5>
          <p class="card-text"><%= Student.count %></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="custom-image-container">
          <%= image_tag 'instrutor.png', class: 'img-fluid'%>
        </div>
        <div class="card-body">
          <h5 class="card-title">Instrutor</h5>
          <p class="card-text"><%= Instructor.count %></p>
        </div>
      </div>
    </div>
  </div>
</div>