<div id="<%= dom_id class_session_student %>">
  <p>
    <strong>Id aluno:</strong>
    <%= class_session_student.students_id %>
  </p>

  <p>
    <strong>Nome aluno:</strong>
    <%= class_session_student.student.name %>
  </p>

  <p>
    <strong>Id turma:</strong>
    <%= class_session_student.class_session.id %>
  </p>

  <p>
    <strong>Nome turma:</strong>
    <%= class_session_student.class_session.name %>
  </p>

</div>
