<%= form_with(model: class_session_student) do |form| %>
  <% if class_session_student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(class_session_student.errors.count, "error") %> prohibited this class_session_student from being saved:</h2>

      <ul>
        <% class_session_student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :students_id, "Estudante", style: "display: block" %>
    <% students_array = Student.all.map { |student| [student.name, student.id] } %>
    <%= form.select :students_id, options_for_select(students_array) %>
  </div>

  <div>
    <%= form.label :class_sessions_id, "Turma", style: "display: block" %>
    <% turma_array = ClassSession.all.map { |turma| [turma.name, turma.id] } %>
    <%= form.select :class_sessions_id, options_for_select(turma_array) %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
