<%= form_with(model: class_session_student) do |form| %>
  <% if class_session_student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(class_session_student.errors.count, "error") %> prohibited this class_session_student from being saved:</h2>

      <ul>
        <% class_session_student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <div class="col-md-2">
      <%= form.label :students_id, "Estudante", style: "display: block", class: "col-md-6 col-form-label text-md-right" %>
      <% students_array = Student.all.map { |student| [student.name, student.id] } %>
      <%= form.select :students_id, options_for_select(students_array), {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <div class="col-md-3">
      <%= form.label :class_sessions_id, "Turma", style: "display: block" , class: "col-md-6 col-form-label text-md-right"%>
      <% turma_array = ClassSession.all.map { |turma| [turma.name, turma.id] } %>
      <%= form.select :class_sessions_id, options_for_select(turma_array), {}, class: "form-control" %>
    </div>
  </div>

  </br>

  <div>
    <%= form.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>
