<div id="<%= dom_id class_session %>">
  <p>
    <strong>Name:</strong>
    <%= class_session.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= class_session.description %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= class_session.active %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= class_session.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= class_session.end_time %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= class_session.instructor_id %>
  </p>

  <p>
    <strong>Training:</strong>
    <%= class_session.training_id %>
  </p>

</div>
