<div id="<%= dom_id class_session %>">
  <p>
    <strong>Name:</strong>
    <%= class_session.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= class_session.description %>
  </p>

  <p>
    <strong>Ativa:</strong>
    <%= class_session.active %>
  </p>

  <p>
    <strong>Hora inicio:</strong>
    <%= class_session.start_time %>
  </p>

  <p>
    <strong>Hora fim:</strong>
    <%= class_session.end_time %>
  </p>

  <p>
    <strong>Instrutor:</strong>
    <%= class_session.instructor_id %>
  </p>

  <p>
    <strong>Treino:</strong>
    <%= class_session.training_id %>
  </p>

</div>
