<h1>Turma</h1>

<div class="accordion" id="accordionExample">

  <div class="accordion-item">
  
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Filtros
      </button>
    </h2>
  
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
     
        <div class="card-body">
          <%= search_form_for @q, remote: true do |f| %>
            <table>

                <tr>

                  <td>
                    <div class="filter-field">
                      <%= f.label :name_cont, 'Nome' , class: "col-md-6 col-form-label text-md-right" %>
                      <%= f.search_field :name_cont, class: "form-control" %>
                    </div>
                  </td>

                  <td>
                    <div class="filter-field">
                      <%= f.label :description_cont, 'Descrição' , class: "col-md-6 col-form-label text-md-right" %>
                      <%= f.search_field :description_cont, class: "form-control" %>
                    </div>
                  </td>

                  <td>
                    <div class="filter-field">
                      <%= f.label :instructor_id, "Instrutor", style: "display: block" %>
                      <% instructor_array = Instructor.all.map { |instructor| [instructor.name, instructor.id] } %>
                      <%= f.select :instructor_id_eq, options_for_select(instructor_array), { include_blank: 'Selecione o Instrutor' }, class: "form-control" %>
                    </div>
                  </td>
                 
                  <td>
                    <div class="filter-field">
                      <%= f.label :training_id, "Treino", style: "display: block" %>
                      <% training_array = Training.all.map { |training| [training.name, training.id] } %>
                      <%= f.select :training_id_eq, options_for_select(training_array), { include_blank: 'Selecione o Treino' }, class: "form-control" %>
                    </div>
                  </td>
       
                </tr>

              <tr>
                <td colspan="2">
                  <%= f.submit 'Filtrar' , class: 'btn btn-primary' %>
                    <%= link_to 'Limpar Filtros' , class_sessions_path, method: :get, class: 'btn btn-secondary' ,
                      style: 'margin-left: 10px;' %>
                </td>
              </tr>
        
            </table>
            <% end %>
        </div>

      </div>
    </div>
  
  </div>

</div>

<%= link_to "Novo", new_class_session_path, class: 'btn btn-success' %>

<div id="turmas">
  
  <table class="table">
    <thead>
        <tr>
          <th>Nome</th>
          <th>Descrição</th>
          <th>Ativa?</th>
          <th>Hora Inicio</th>
          <th>Hora Fim</th>
          <th>Instrutor</th>
          <th>Treino</th>
          <th scope="col">Editar</th>
          <th scope="col">Excluir</th>
        </tr>
    </thead>
    
    <tbody>
      <% @class_sessions.each do |turma| %>
        <tr>
          <td><%= turma.name %></td>
          <td><%= turma.description %></td>
          <td><%= turma.active %></td>
          <td><%= turma.start_time %></td>
          <td><%= turma.end_time %></td>
          <td><%= turma.instructor.name %></td>
          <td><%= turma.training.name %></td>
          <td><%= button_to 'Editar', edit_class_session_path(turma), method: 'get', class: 'btn btn-primary' %></td>
          <td><%= button_to 'Remover',  class_session_path(turma), method: 'delete', data: { turbo_confirm: "Deseja mesmo deletar esse registro?" }, class: 'btn btn-danger' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>