<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Entrar</div>
                    <div class="card-body">
                       
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                            <div class="form-group row">
                                <%= f.label :email, "Email", class: "col-md-2 col-form-label text-md-right" %><br />
                                <div class="col-md-8">
                                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                                </div>
                            </div>
                            </br>
                        
                            <div class="form-group row">
                                <%= f.label :password, "Senha", class: "col-md-2 col-form-label text-md-right" %><br />
                                <div class="col-md-8">
                                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
                                </div>
                            </div>
                            
                            </br>

                            <% if devise_mapping.rememberable? %>
                                <div class="col-md-6 offset-md-2">
                                    <%= f.check_box :remember_me, class: "checkbox" %>
                                    <%= f.label :remember_me %>
                                </div>
                          <% end %>

                            </br>
                            
                            <div class="col-md-6 offset-md-2">
                                <%= f.submit "Entrar", class: "btn btn-primary" %>
                                
                            </div>

                    </div>
                    
                    <% end %>
                    
                </div>
            </div>
        </div>
    </div>
    </div>

</main>
