<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <%= link_to "LaunchGym", :root, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarContent">
            <% if user_signed_in? %>    
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"> <%= link_to "Turma", root_path, class: "nav-link"  %></li>
                    <li class="nav-item"> <%= link_to "Treino", root_path, class: "nav-link"  %></li>
                    <li class="nav-item"> <%= link_to "Aluno", root_path, class: "nav-link"  %></li>
                    <li class="nav-item"> <%= link_to "Instrutores", instructors_path, class: "nav-link"  %></li>
                </ul>
            <% end %>
            <ul class="navbar-nav">
                <% if user_signed_in? %>      
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><%= current_user.name %></a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li class="nav-item"> <%= link_to "Editar conta", edit_user_registration_path, class: "nav-link"  %></li>
                            <li><hr class="dropdown-divider"></li>
                            <li class="nav-item"> <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "btn btn-small btn-danger mx-2" %></li>
                        </ul>
                    </li>
                <% else %>
                    <li class="nav-item"> <%= link_to "Inscrever-se", new_user_registration_path, class: "nav-link"  %></li>
                    <li class="nav-item"> <%= link_to "Entrar", new_user_session_path, class: "nav-link"  %></li>
                <% end %>
            </ul>      
        </div>
    </div>
</nav>